<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transfer | Luxydev</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="icon" type="image/png" href="../images/Home/favicon.png" />
  </head>
  <body class="dark-mode">
    <img
      id="mode-icon"
      src="../images/Home/Night.png"
      alt="Toggle Mode"
      onclick="toggleDarkMode()"
    />
    <img
      id="home-icon"
      src="../images/Home/Home.png"
      alt="Home"
      onclick="window.location.href='../Index.html'"
    />

    <div class="centered">
      <div class="content">
        <img
          src="../images/Home/Heart.png"
          alt="Coming Soon"
          class="coming-img"
        />
        <h2>
          TPBank<br />STK: 33550336999<br />NGUYEN LONG THINH<br />ND: Ho ten +
          ho tro quy tu thien
        </h2>
        <p>
          <i
            >Mọi giao dịch thu chi tôi đảm bảo sẽ luôn minh bạch đi kèm với sao
            kê và được cập nhật công khai!</i
          >
        </p>
      </div>
    </div>

    <style>
      .centered {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .coming-img {
        max-width: 256px; /* hoặc điều chỉnh theo nhu cầu */
        margin-bottom: 1px;
        border: none;
      }
    </style>

    <script src="../js/global.js"></script>
  </body>
</html>
